@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Clash display";
  src: url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.wrap {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Satoshi";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 145%;
  color: #726E8D;
  background-color: #FFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

h1, h2, h3, p {
  margin: 0;
}

img {
  vertical-align: middle;
}

.nav {
  width: 1380px;
  margin: 0 auto;
  padding: 20px 0 4px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.nav-form label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  width: 25px;
  height: 46px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/Search.svg");
  border: none;
  cursor: pointer;
  margin: 0;
  transition: opacity 0.7s;
}

.nav-input {
  box-sizing: border-box;
  width: 627px;
  height: 46px;
  border: none;
  outline: none;
  font-family: "Satoshi";
  font-size: 16px;
  color: #2A254B;
  background-color: transparent;
  padding: 17px 30px;
}

.nav-logo {
  margin-right: 587px;
}

.nav-menu {
  display: flex;
  gap: 15px;
}

.nav-menu__link {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  transition: opacity 0.7s;
}

.nav-menu__link:hover {
  opacity: 0.5;
}

.cart {
  background-image: url("../images/Shopping--cart.svg");
}

.auth {
  background-image: url("../images/User--avatar.svg");
}

.header-menu {
  width: 675px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.header-menu__link {
  text-decoration: none;
  color: #726E8D;
  transition: opacity 0.7s;
}

.header-menu__link:hover {
  opacity: 0.5;
}

.burger-menu {
  display: none;
}

@media (min-width:390px) and (max-width:768px) {
  .nav {
    padding-top: 10px;
    width: 340px;
    flex-direction: row-reverse;
    align-items: center;
    border: none;
  }

  .nav-logo {
    margin: 0;
  }

  .nav-input {
    order: 1;
    width: 220px;
  }

  .nav-button {
    order: 2;
  }

  .nav-menu {
    display: none;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .header-menu {
    display: none;
  }
}

.banner {
  padding: 55px 0;
}

.banner-wrap {
  width: 1280px;
  margin: 0 auto;
  display: flex;
}

.banner-text {
  box-sizing: border-box;
  width: 760px;
  padding: 60px;
  background-color: rgba(42, 37, 75, 1);
}

.banner-text__slogan {
  font-family: "Clash display";
  font-size: 32px;
  color: #FFF;
  line-height: 140%;
  margin: 0 100px 40px 0;
}

.banner-text__link {
  display: inline-block;
  box-sizing: border-box;
  width: 170px;
  height: 56px;
  padding-top: 15px;
  background-color: rgba(249, 249, 249, 0.15);
  text-align: center;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  transition: opacity 0.7s;
}

.banner-text__link:hover {
  opacity: 0.5;
}

.banner-text__wrap {
  margin-top: 196px;
}

.banner-text__content {
  color: #FFF;
  line-height: 150%;
  padding-right: 30px;
}

.banner-image {
  width: 520px;
}

.banner-image img {
  object-fit: cover;
  width: 100%;
}

@media (min-width:390px) and (max-width:768px) {
  .banner {
    padding: 0;
  }

  .banner-wrap {
    width: 100%;
  }

  .banner-text {
    width: 100%;
    padding: 24px;
    padding-top: 42px;
    display: flex;
    flex-direction: column;
  }

  .banner-text__slogan {
    margin: 0;
  }

  .banner-image {
    display: none;
  }

  .banner-text__link {
    order: 3;
    width: 100%;
    margin-top: 32px;
  }

  .banner-text__wrap {
    order: 2;
    margin-top: 80px;
  }
}

.features {
  padding-bottom: 86px;
}

.features-wrap {
  width: 1280px;
  margin: 0 auto;
  padding-top: 70px;
}

.features-title {
  font-family: "Clash display";
  font-size: 24px;
  text-align: center;
}

.features-list {
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.features-list__item {
  flex-grow:1;
}

.features-list__title {
  font-family: "Clash display";
  font-size: 20px;
  margin-bottom: 8px;
  position: relative;
}

.features-list__title:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
}

.delivery:before {
  background-image: url("../images/Delivery.svg");
}

.checkmark:before {
  background-image: url("../images/Checkmark--outline.svg");
}

.price:before {
  background-image: url("../images/Purchase.svg");
}

.packaging:before {
  background-image: url("../images/Sprout.svg");
}

.features-list__text {
  font-size: 16px;
}

@media (min-width:390px) and (max-width:768px) {
  .features {
    padding: 0;
  }

  .features-wrap {
    width: 340px;
    padding: 45px 0;
  }

  .features-title {
    font-size: 20px;
    margin-right: 50px;
    text-align: left;
  }

  .features-list {
    flex-direction: column;
    gap: 80px;
  }

  .features-list__title {
    font-size: 16px;
  }

  .features-list__text {
    font-size: 14px;
  }
}

.new {
  padding: 83px 0 56px;
}

.new-wrap {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.new-title {
  font-family: "Clash display";
  font-size: 32px;
  text-align: left;
}

.new-list {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-list__item {
  width: 305px;
  height: 462px;
  text-align: left;
}

.new-list__img {
  width: 100%;
  height: 375px;
}

.new-list__img img {
  object-fit: cover;
  width: 100%;
}

.new-list__text {
  margin-top: 24px;
}

.new-list__name {
  font-family: "Clash display";
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.new-link {
  display: inline-block;
  box-sizing: border-box;
  width: 170px;
  height: 56px;
  margin-top: 35px;
  padding-top: 15px;
  background-color: #F9F9F9;
  text-align: center;
  font-size: 16px;
  color: #2A254B;
  text-decoration: none;
  transition: color 0.7s;
}

.new-link:hover {
  color: rgba(42, 37, 75, 0.6);
}

@media (min-width:390px) and (max-width:768px) {
  .new {
    padding: 48px 0 38px;
  }
  
  .new-wrap {
    width: 340px;
  }
  
  .new-title {
    font-size: 20px;
  }
  
  .new-list {
    width: 100%;
    margin-top: 19px;
  }
  
  .new-list__item {
    width: 163px;
    height: 288px;
    margin-bottom: 20px;
  }

  .new-list__img {
    height: 200px;
  }
  
  .new-link {
    width: 100%;
    margin-top: 29px;
  } 
}

.popular {
  padding-top: 73px;
  padding-bottom: 48px;
}

.popular-wrap {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.popular-title {
  font-family: "Clash display";
  font-size: 32px;
  margin-bottom: 25px;
  text-align: left;
}

.popular-list {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.popular-list__mob {
  display: none;
}

.popular-list__item {
  width: 305px;
  height: 462px;
  text-align: left;  
}

.popular-list__item:first-child {
  width: 630px;
}

.popular-list__img:first-child {
  width: 100%;
}

.popular-list__img {
  width: 100%;
  height: 375px;
}

.popular-list__img img {
  object-fit: cover;
  width: 100%;
}

.popular-list__text {
  margin-top: 24px;
}

.popular-list__name {
  font-family: "Clash display";
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.popular-link {
  display: inline-block;
  box-sizing: border-box;
  width: 170px;
  height: 56px;
  margin-top: 42px;
  padding-top: 15px;
  background-color: #F9F9F9;
  text-align: center;
  font-size: 16px;
  color: #2A254B;
  text-decoration: none;
  transition: color 0.7s;
}

.popular-link:hover {
  color: rgba(42, 37, 75, 0.6);
}

@media (min-width:390px) and (max-width:768px) {
  .popular {
    padding-top: 48px;
    padding-bottom: 38px;
  }
  
  .popular-wrap {
    width: 340px;
  }
  
  .popular-title {
    font-size: 20px;
  }

  .popular-list {
    display: none;
  }
  
  .popular-list__mob {
    display: flex;
    gap: 20px;
  }
  
  .popular-list__item,
  .popular-list__item:first-child  {
    width: 200px;
    height: 338px;
  }
  
  .popular-list__img {
    height: 251px;
  }

  .popular-list__img img {
    height: 100%;
  }
  
  .popular-list__text {
    margin-top: 24px;
  }
  
  .popular-list__name {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .popular-link {
    height: 56px;
    margin-top: 42px;
    font-size: 16px;
  }
  
}

.subscription {
  background-color: #F9F9F9;
  padding: 52px 0 65px;
}

.subscription-wrap {
  box-sizing: border-box;
  width: 1260px;
  margin: 0 auto;
  padding: 82px 351px 54px;
  background-color: #FFF;
  text-align: center;
}

.subscription-text {
  width: 582px;
  margin: 0 auto;
}

.subscription-text__title {
  font-family: "Clash display";
  font-size: 36px;
  margin-bottom: 25px;
}

.subscription-text__content {
  font-size: 16px;
  padding: 0 50px;
}

.subscription-form {
  width: 472px;
  margin: 0 auto;
  margin-top: 70px;
}

.subscription-form label {
  display: flex;
}

.subscription-input {
  box-sizing: border-box;
  width: 354px;
  height: 56px;
  border: none;
  outline: none;
  font-family: "Satoshi";
  font-size: 16px;
  color: rgba(42, 37, 75, 0.5);
  background-color: #F9F9F9;
  padding: 17px 32px;
  margin:0;
}

.subscription-button {
  width: 118px;
  height: 56px;
  background-color: #2A254B;
  border: none;
  font-family: "Satoshi";
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  transition: opacity 0.7s;
  margin: 0;
}

.subscription-button:hover {
  opacity: 0.8;
}

@media (min-width:390px) and (max-width:768px) {
  .subscription {
    padding: 0;
  }
  
  .subscription-wrap {
    width: 390px;
    margin: 0 auto;
    padding: 48px 25px 38px;
  }
  
  .subscription-text {
    text-align: left;
    width: 340px;
  }
  
  .subscription-text__title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  .subscription-text__content {
    font-size: 14px;
    padding: 0;
  }
  
  .subscription-form {
    width: 340px;
    margin-top: 64px;
  }
 
  .subscription-input {
    width: 222px;
  }
  
  .subscription-button {
    width: 118px;
  }
}

.about-wrap {
  display: flex;
}

.about-text {
  box-sizing: border-box;
  width: 50%;
  padding: 92px 100px 54px 84px;
}

.about-text__title {
  font-family: "Clash display";
  font-size: 24px; 
  margin-bottom: 25px;
  line-height: 140%;
}

.about-text__content {
  font-size: 16px;
  margin-bottom: 20px;
}

.about-text__button {
  width: 150px;
  height: 56px;
  background-color: #F9F9F9;
  border: none;
  font-family: "Satoshi";
  font-size: 16px;
  color: #2a254b;
  cursor: pointer;
  transition: color 0.7s;
  margin-top: 159px;
}

.about-text__button:hover {
  color: rgba(42, 37, 75, 0.6);
}

.about-img {
  width: 50%;
}

.about-img img {
  width: 100%;
  height: 100%;
}

@media (min-width:390px) and (max-width:768px) {
  .about-wrap {
    flex-direction: column;
  }
  
  .about-text {
    width: 340px;
    padding: 48px 25px 38px;
  }
  
  .about-text__title {
    font-size: 20px; 
    margin-bottom: 12px;
  }
  
  .about-text__content {
    font-size: 14px;
  }
  
  .about-text__button {
    width: 340px;
    margin-top: 64px;
  }
  
  .about-img {
    width: 100%;
  }
}

.footer {
  background-color: #2A254B;
}

.footer-top {
  width: 1274px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 55px 0 48px;
}

.footer-menu__title, .footer-categories__title,
.footer-company__title, .footer-subscription__title {
  font-family: "Clash display";
  font-size: 16px;
  color: #FFF;
}

.footer-menu__item, .footer-categories__item, 
.footer-company__item {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-menu__link, .footer-categories__link,
.footer-company__link, .footer-subscription__link {
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  transition: opacity 0.7s;
}

.footer-menu__link:hover, .footer-categories__link:hover,
.footer-company__link:hover, .footer-subscription__link:hover {
  opacity: 0.5;
}

.footer-subscription__form {
  margin-top: 20px;
}

.footer-subscription__form label {
  width: 627px;
  display: flex;
}

.footer-subscription__input {
  box-sizing: border-box;
  width: 509px;
  height: 56px;
  border: none;
  outline: none;
  font-family: "Satoshi";
  font-size: 16px;
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 17px 30px;
}

.footer-subscription__button {
  width: 118px;
  height: 56px;
  background-color: #F9F9F9;
  border: none;
  font-family: "Satoshi";
  font-size: 16px;
  color: #2a254b;
  cursor: pointer;
  transition: color 0.7s;
  transition: opacity 0.7s;
}

.footer-subscription__button:hover {
  opacity: 0.8;
}

.footer-bottom {
  border-top: 1px solid #4E4D93;
  width: 1259px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px 0;
}

.footer-copyright {
  font-size: 14px;
  color: #FFF;
}

.social-list {
  display: flex;
}

.social-list__item {
  margin-left: 24px;
}

.social-list__link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
}

.social-list__link:hover {
  opacity: 0.5;
}

.link {
  background-image: url("../images/Logo--linkedin.svg");
}

.fb {
  background-image: url("../images/Logo--facebook.svg");
}

.inst {
  background-image: url("../images/Logo--instagram.svg");
}

.skype {
  background-image: url("../images/Logo--skype.svg");
}

.tw {
  background-image: url("../images/Logo--twitter.svg");
}

.pin {
  background-image: url("../images/Logo--pinterest.svg");
}

@media (min-width:390px) and (max-width:768px) {
  .footer-top {
    width: 340px;
    gap: 20px;
    padding: 40px 0 40px;
  }

  .footer-categories {
    padding-right: 50px;
  }

  .footer-subscription__form {
    margin-top: 20px;
  }
  
  .footer-subscription__form label {
    width: 390px;
  }
  
  .footer-subscription__input {
    width: 222px;
  }
  
  .footer-subscription__button {
    width: 118px;
  }
  
  .footer-bottom {
    width: 390px;
    padding: 20px 0;
  }

  .footer-copyright {
    margin: 0 auto;
  }
  
  .social-list {
    display: none;
  }

}